.aside {
  z-index: 1;
  height: 100%;
  // width: 10vw;
  width: 82px;
  float: left;
  background-color: #020203;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  // bottom: 0;
  @media screen and (max-width: 874px) {
    height: 1600px;
    
  }
  &-nav {
    color: transparent;
    &-link {
      position: relative;
      height: 316px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      scale: 0.7;
      &-yoga {
        &::after {
          content: url("../../../assets/icons/yoga.svg");
          cursor: not-allowed;
        }

      }
      &-swim {
        &::after {
          content: url("../../../assets/icons/swim.svg");
          cursor: not-allowed;
        }
      }
      
      &-bike {
        &::after {
          content: url("../../../assets/icons/bike.svg");
          cursor: not-allowed;
        }
      }
      &-liftweight {
        &::after {
          content: url("../../../assets/icons/liftweight.svg");
          cursor: not-allowed;
        }
      }
    }
  }
  &-copyright {
    position: absolute;
    bottom: 100px;
    right: -24px;
    width: 140px;
    font-size: 9px;
    transform: rotate(-90deg);
  }
}