.score {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #FBFBFB;
  border-radius: 10px;

  display: flex;
    justify-content: center;
    align-items: center;
  
  .title-score {
    position: absolute;
    top: 8px;
    left: 18px;
    font-size: 10px;
  }
}